body
{
	font-family:'Sans-Serif, Arial, Helvetica';
	font-size:10pt;
	color:black;
	background-color:white;
}
.badWordHighlight
{
	color:black;
	background-color:white;
	border-bottom: 1px solid red;
	color:red;
}
