<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
 
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://10.10.25.242:3306/demo_streamz_transcode?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">itgd</property>
    <property name="hibernate.connection.password">itgd@nd@123</property> 
    <property name="hibernate.show_sql">true</property>
    <!-- <property name="hibernate.connection.url">jdbc:mysql://10.1.32.194:3306/awstranscode?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">itgd_office</property>
    <property name="hibernate.connection.password">$t0p@ct1ng94</property>  
      -->
<!--      <property name="hibernate.connection.url">jdbc:mysql://10.10.25.242:3306/demo_streamz_transcode?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">itgd</property>
    <property name="hibernate.connection.password">itgd@nd@123</property> 
     -->
    <!--<property name="hibernate.connection.url">jdbc:mysql://10.1.32.194:3306/awstranscode?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">itgd_aws</property>
    <property name="hibernate.connection.password">4rfv6yst</property>-->
   <!--  <property name="hibernate.current_session_context_class">thread</property> -->

    
<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/awstranscode?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property> -->
        
     <property name="hibernate.current_session_context_class">thread</property>
    	<property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hibernate.validator.autoregister_listeners">false</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    	<property name="hibernate.connection.pool_size">5</property> 
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">10</property>	
        <property name="hibernate.c3p0.max_statements">50</property>
    	<property name="hibernate.current_session_context_class">thread</property>
    	<property name="autoReconnect">true</property>
    	<property name="hibernate.c3p0.idle_test_period">30</property>
    	<property name="hibernate.c3p0.timeout">300</property>
    	<property name="hibernate.c3p0.preferredTestQuery">SELECT 1</property>    	
    	<property name="hibernate.c3p0.testOnBorrow">true</property>  
		<property name="hibernate.c3p0.testOnReturn">true</property> 
   
    <mapping resource="com/itgd/transcoder/bean/hbm/AmazobAwsJobOutputDesc.hbm.xml"/>
    <mapping resource="com/itgd/transcoder/bean/hbm/Joboutput.hbm.xml"/>
    <mapping resource="com/itgd/transcoder/bean/hbm/AmazonAwsJobDesc.hbm.xml"/>
    <mapping resource="com/itgd/transcoder/bean/hbm/AmazonTranscoding.hbm.xml"/>  
    <mapping resource="com/itgd/transcoder/bean/hbm/AmazonWebsiteDetails.hbm.xml"/>  
     <mapping resource="com/itgd/transcoder/bean/hbm/TranscodingProcessLog.hbm.xml"/>  
      
  </session-factory>
</hibernate-configuration>
